version: "3.8"

services:
  postgres:
    image: postgres:14-alpine
    container_name: dtv_postgres
    environment:
      POSTGRES_DB: digitalizacion_tv
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "Hotel2024!"
    volumes:
      - dtv_pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: dtv_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8081:80"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: dtv_backend
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql://postgres:Hotel2024!@postgres:5432/digitalizacion_tv?schema=public
      - PORT=5000
      - NODE_ENV=development
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: dtv_frontend
    restart: unless-stopped
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  dtv_pgdata: